/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
}

/* Removing bullets from list items */
ul,
ol {
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit; /* Inherit box-sizing property */
}

img {
    display: block;
    width: 100%;
    height: auto;
  }

/* Stripping default styling from form input elements */
input {
    appearance: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
/* Showing pointer hand on buttons */
button {
    cursor: pointer;
}

button,
input[type="submit"] {
}